.app {
  background: #ffffff;
  padding: 30px;
  height: 100vh;
  display: flex;
}

.todo-list {
  background: #f3f1f1;
  border-radius: 4px;
  padding: 5px;
  max-width: 500px;
  margin-left: 10%; 
  margin-top: 5%;
  width: 50%;
}

.todo {
  font-size: 15px;
  margin-bottom: 6px;
  /* margin-top: 10%; */
}

.clear-all {
  background-color: black;
  color: #ffffff;
  border-radius: 5px;
  float: right;
  margin-right: 10%;
}

.check-box {
  margin-right: 5%;
  margin-left: 10%;
}

.remove-item {
  margin-right: 15%;
  float: right;
  border: none;
  font-size: 20px;
}
 
span {
  margin-left: 10%;
}

.top-bar {
  margin-bottom: 5%;
  margin-top: 5%;
}

form {
  margin-top: 40%;
  margin-left: 20%;
}

textarea {
  margin-top: 4%;
  margin-bottom: 10%;
}

.input-field {
  display: flex;
}

.submit-btn {
  color: rgb(255, 255, 255);
  background-color: black;
  margin-top: 16px;
  margin-left: 2%;
  width: 10%;
  font-size: 30px;
  height: 55px;
}

.left-side {
  /* margin-right: 30%; */
  width: 50%;
}

.left-side h3 {
  margin-left: 40%;
  margin-top: 40%;
  font-size: 50px;
  font-weight: 500;
}